<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy mode</title>
    <meta name="description" content="Roughly 155 characters">
    <!--
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
    -->
  </head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
    </script>
    
  <body class="body">
    <div>
      <h1>Rob's Trivia Game Leaderboard!</h1>
    
      <h2>What is the best programming Language?</h2>
          <form>
          <input type=text size=5 name=proglang>
          <a href='#' id=process_input><button class='btn btn-default'>Submit</button></a>
          
          <p></p>
        </form>
    </div>
  </body>
</html>