<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy mode</title>
    <meta name="description" content="Roughly 155 characters">
    <!--
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
    -->
  </head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type=text/javascript>
			$(function() {
			  $('a#name_input').bind('click', function() {
				$.getJSON('/background_process', {
				  playerName: $('input[name="playerName"]').val(),
				}, 
        function(data) {
				  $("#name_result").text(data.result);
				});
				return false;
			  });
			});
      $(function() {
			  $('a#score_input').bind('click', function() {
				$.getJSON('/background_process', {
          playerScore: $('input[name="playerScore"]').val(),
				}, 
        function(data) {
				  $("#score_result").text(data.result);
				});
				return false;
			  });
			});
    </script>
    
  <body class="body">
    <div id="header">
      <h1>Rob's Trivia Game</h1>
    </div>

    <div id="playerName">
    
      <h2>What is your name</h2>
        <form>
          <input type=text size=5 name=playerName>
          <a href='#' id=name_input><button class='btn btn-default'>Submit</button></a>
          
          <p id=result>Player Name: </p>
        </form>
    </div>

    <div id="score">
      
      <h2>What is your score</h2>
          <form>
            <input type=text size=5 name=playerScore>
            <a href='#' id=score_input><button class='btn btn-default'>Submit</button></a>
            
            <p id=result>Player Score: </p>
        </form>
    </div>
  </body>
</html>