<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy mode</title>
    <meta name="description" content="Roughly 155 characters">
    <!--
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
    -->
  
  </head>
  <body class="body">
        <div id="header">
          <h1>Rob's Trivia Game Leaderboard</h1>
        </div>
        <div id="playerName">
            <table style="width:100%">
                <tr>
                    <th>Player Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>26</td>
                </tr>
            </table>
        </div>
  </body>
</html>