<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy mode</title>
    <meta name="description" content="Roughly 155 characters">
    <!--
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
    -->
  </head>
  <body>
    <!-- Content -->
    <h1>Here you will find the easy mode tongue twisters! These are just the guides for the spelling to help you 
      say them, obviously English spelling is the worst because it makes no sense!
    </h1>
    <h2>Question 1:
        She sells sea shells on the seashore
    </h2>
    
  </body>
</html>